@import 'style.css';


p
{
	font-size: .9em;
	text-align: center;
	margin-bottom: 0%;
}

#top
{
	margin-top: 35px;
}

#bottom
{
	margin-bottom: 25px;
}

h2
{
	margin-bottom: 0px;
	margin-top: 25px;
	font-size: 4.5em;
	color: var(--red);
	text-align: center;
}

a:link#backbutton, a:visited#backbutton
{
	margin-top: 15px;
	font-size: 1.25em;
	text-decoration: underline;
}

@media screen and (min-width: 700px) 
{

}

/* full screen computer */
@media screen and (min-width: 1100px) 
{
}