@import "new.css";

p
{
	font-size: .9em;
	text-align: center;
	font-family: "Ubuntu";
}

#top
{
	margin-top: 75px;
}

#bottom
{
	margin-bottom: 75px;
}

h2
{
	margin-bottom: 15%;
	margin-top: 7.5%;
	font-size: 4.5em;
	color: var(--red);
	text-align: center;
	font-family: "Ubuntu";
}

a:link#backbutton, a:visited#backbutton
{
	margin-top: 15px;
	font-size: 1.25em;
	text-decoration: underline;
}


