@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

body, html
{
	font-family: "Alegreya Sans SC";
	line-height: 20px;
	text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    margin: 0%;
}

:root
{
	--red: rgb(255,49,8,.95);
}

/* Begin header */ 

header
{
	position: fixed;
	width: 100%;
	margin-top: -25%;
	background-color: white;
	padding-bottom: 2%;
	-webkit-appearance: none;
	-webkit-box-shadow: 2px 2px 2px #666;
    -moz-box-shadow: 2px 2px 2px #666;
    box-shadow: 2px 2px 2px #666;
}

#content
{
	margin-top: 25%;
}

#header_content
{
	display: flex;
	justify-content: space-around;
}

#back, #add
{
	color: var(--red);
	font-family: lato;
	border: none;
	background-color: transparent;
	position: relative;
	top: 2px;
	font-size: 2.25em;
}

#back
{
	right: 27.5px;
	font-weight: 700;
}

#add
{
	left: 27.5px;
	font-weight: 700;
}

#college_name
{
	font-size: 20px;
	color: white;
	text-align: center;
	margin-top: 27px;
	font-weight: 400;
}

#logo
{
	font-size: 30px;
	text-align: center;
	color: var(--red);
	position: relative;
	top: 4px;
	font-weight: 700;
}

#logo_and_college
{
	display: flex;
	font-family: "Ubuntu";
	text-align: center;
}

/* End Header */


/* Instructions and search bar */

#search_bar
{
	width: 95%;
	margin-top: -3%;
	margin-left: 2.5%;
	margin-right: auto;
	padding-left: 12px;
	height: 50px;
	border: 1px solid #D3D3D3;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: url(images/search_icon.png) no-repeat scroll;
	background-size: 7%;
	background-position: 96%;
	font-family: "Lato";
	font-size: 15px;
}

#search_bar:focus
{
	-webkit-appearance: none;
	-webkit-box-shadow: 1px 1px 1px #666;
    -moz-box-shadow: 1px 1px 1px #666;
    box-shadow: 1px 1px 1px #666;
    display: inline-block;
    outline: none;
}

::-webkit-input-placeholder 
{ 
  	font-family: "Lato";
  	font-size: 15px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration 
{
  -webkit-appearance:none;
}

#instructions
{
	text-align: center;
	font-family: ubuntu;
	font-size: .75em;
	margin-top: 1%;
}

/* End instructions and search bar */


/* Display of classes */

#class_display_wrapper
{
	margin-top: 5%;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	margin-left: 7.5%;
}

.class_display_individual
{
	margin-bottom: 12%;
	height: 155px;
	width: 155px;
	border-radius: 15px;
	border: 2px solid black;
	padding: 0;
	background: url(images/classroom.jpg) no-repeat scroll;
	background-size: 100%;
	font-family: Ubuntu;
}

.code_nickname
{
	font-size: 1.25em;
	background-color: white;
	font-weight: bold;
}

.class_code
{
}

.class_nickname
{
}

.prof_date_time
{
	background-color: white;
	margin-top: 10%;
	font-family: Lato;
}

/* End display of classes */


/* Add class Modal content */

.modal 
{
  font-family: "Lato";
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  padding-top: 5%;
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content 
{
  font-family: "Lato";
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  border-radius: 30px;
  border: 2px solid black;
}

.modal-content p
{
	color: black;
	margin-top: 2%;
	margin-bottom: 2%;
	font-size: .85em;
}

.closeModal 
{
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeModal:hover, .closeModal:focus 
{
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#modal_header
{
	text-align: center;
	font-size: 1.25em;
}

form > ::-webkit-input-placeholder 
{ 
  	font-size: .8em;
}

form > input[type = "text"]
{
	width: 90%;
	height: 22.5px;
	padding-left: 2%;
	font-size: .85em;
}

form > input[type = "text"]:focus
{
	-webkit-appearance: none;
	-webkit-box-shadow: .5px .5px .5px #666;
    -moz-box-shadow: .5px .5px .5px #666;
    box-shadow: .5px .5px .5px #666;
    display: inline-block;
    outline: none;
}

#dateAndTime
{
	margin-top: 3%;
	margin-bottom: 3%;
}

.weekdays_selector input 
{
  display: none!important;
}

.weekdays_selector input[type=checkbox] + label 
{
  display: inline-block;
  border-radius: 70%;
  background: #dddddd;
  height: 35px;
  line-height: 35px;
  width: 12.5%;
  cursor: pointer;
  font-size: .7em;
  text-align: center;
}

.weekdays_selector input[type=checkbox]:checked + label 
{
  background: var(--red);
  color: #ffffff;
}

.time-selector
{
	display: inline-flex;
}

select
{
	width: 100px;
	margin-right: 3%;
	height: 25px;
	-webkit-appearance: none;
}

#recitation_div
{
	margin-top: -3%;
	display: inline-flex;
}

#recitation_check
{
	margin-top: 1%;
	position: relative;
	left: 6px;
}

#recitation_paragraph
{
	font-size: .8em;
	position: relative;
	bottom: 5px;
}

#submit_div > input[type = "button"]
{
	margin-top: 0%;
	background-color: var(--red);
	border-radius: 10px;
	width: 90%;
	height: 50px;
	color: white;
	font-size: 1.1em;
	font-family: "Ubuntu";
	border: none;
	z-index: 99;
}

input[type = "button"]
{
	-webkit-appearance: none;
	-moz-appearance: none;
    appearance: none;
}

#submit_div
{
	text-align: center;
}

#submission_error
{
	font-size: .75em;
	color: var(--red);
}

/* End modal content */

