@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

body, html
{
	font-family: "Alegreya Sans SC";
	line-height: 20px;
	text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    margin: 0%;
}

/* Begin Header */ 

header
{
	position: fixed;
	width: 100%;
	margin-top: -25%;
}

#content
{
	margin-top: 25%;
}

#header_content
{
	display: flex;
	justify-content: space-around;
}

#back, #add
{
	color: var(--red);
	font-weight: 700;
	font-family: ubuntu;
	font-size: 2.75em;
	font-weight: 700;
	border: none;
	background-color: transparent;
	position: relative;
}

#back
{
	right: 25px;
	bottom: 3px;
}

#add
{
	left: 25px;
	bottom: 3px;
}

#college_name
{
	color: white;
	text-align: center;
	font-size: 1.75em;
	margin-top: 27px;
	letter-spacing: 2px;
	position: relative;
	bottom: 3px;
}

/* End Header */


/* Begin modal */

.modal 
{
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  padding-top: 5%;
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content 
{
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  border-radius: 30px;
  border: 2px solid black;
}

.modal-content p
{
	color: black;
	font-size: 1em;
	margin-bottom: 6%;
	font-weight: 700;
}

.closeModal 
{
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeModal:hover, .closeModal:focus 
{
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* End modal */


/* Instructions and search bar */

#instructions
{
	text-align: center;
	font-family: lato;
	background-color: #D3D3D3;
	border-radius: 10px;
}

#search_bar
{
	padding-top: 0%;
	margin-top: 2%;
	margin-left: 2.5%;
	margin-right: auto;
	padding-left: 12px;
	width: 95%;
	height: 50px;
	border: 1px solid #D3D3D3;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: url(images/search_icon.png) no-repeat scroll;
	background-size: 7%;
	background-position: 96%;
	font-family: "Lato";
	font-size: 17.5px;
}

#search_bar:focus
{
	-webkit-appearance: none;
	-webkit-box-shadow: 1px 1px 1px #666;
    -moz-box-shadow: 1px 1px 1px #666;
    box-shadow: 1px 1px 1px #666;
    display: inline-block;
    outline: none;
}

::-webkit-input-placeholder 
{ 
  	font-family: "Lato";
  	font-size: 15px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration 
{
  -webkit-appearance:none;
}

/* End instructions and search bar */


































#intro
{
	font-family: "Lato";
}

#intro_text_bottom
{
	margin-bottom: 4%;
	text-align: center;
	border-radius: 25px;
	/*background-color: #ECECEC;*/
	margin-left: 12.5%;
	margin-right: 12.5%;
	font-size: .8em;
}

#intro_text_top
{
	font-size: 1.25em;
	text-align: center;
	margin-bottom: 5%;
}

#intro_text
{
	border: 1px solid transparent;
	border-radius: 20px;
	background-color: #ECECEC;
	padding-top: 1%;
}

:root
{
	--red: rgb(255,49,8,.95);
}

/* header */

/*
header
{
	background-color: #FAFAFA;
	margin-left: -2.5%;
	margin-top: -2%;
	position: fixed;
  	top: .7%;
 	width: 100%;
 	z-index: 9999;
 	*/

 	/* shadow */
 	/*
 	box-shadow: 4px 4px 2px #ccc;
    -moz-box-shadow: 4px 4px 2px #ccc;
    -webkit-box-shadow: 4px 4px 2px #ccc;
}
*/


#back_arrow 
{
	width: 32.5px;
	position: relative;
	top: 32.5px;
	left: 25px;
	margin-top: -5%;
}

small 
{
	display: inline;
	clear: both;
	font-size: .1em;
}

#titleText
{
	display: block;
	color: var(--red);
	font-size: 1.5em;
	text-align: center;
	margin-top: 0%;
	text-indent: 5%; /* centers exactly */
	font-family: "Ubuntu";
}

/* body */

table
{
	margin-top: 3%;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.normal_link a
{
	text-decoration: underline;
}

.normal_link a:hover, .normal_link a:active
{
	color: black;
}

a
{
	color: inherit;
	background-color: inherit;
	text-decoration: none;
}

a:hover, a:active
{
	color: var(--red);
}

.courseBackground:first-child
{
	margin-top: 2%;
}

.courseBackground
{
	margin-bottom: 0%;
	border: 2px solid black;
	border-radius: 10px;
	font-size: 1.05em;
	padding-top: 1%;
	padding-bottom: 1%;
}

.heading
{
	font-size: 1em; 
	margin-left: 2.5%;
	text-transform: capitalize;
	font-weight: 500;
}

.heading2
{
	margin-left: 2.5%;
	font-size: .9em;
}

.info, .info2
{
	margin-left: 2.5%;
	font-size: 1em;
	text-transform: lowercase;
}

.info2
{
	font-size: 1em;
	margin-left: 2.5%;
}

.time
{
	font-size: 1em;
}

#search_and_plus
{
	display: flex;
	justify-content: flex-start;
}

#plusButton
{
	width: 25px;
	position: relative;
	top: 2px;
}


.group_title
{
	font-size: .85em;
	text-decoration: underline;
	font-family: "Ubuntu";
	margin-left: 1%;
	font-weight: 700;
}

/* form sidenav */

.form /* general menu */
{
  font-family: "Ubuntu";
  height: 100%; 
  width: 0; 
  position: fixed;
  z-index: 1; 
  top: 0; 
  left: 0;
  overflow-x: hidden; 
  transition: 1s; 
  margin-top: 65px; /* right below header */
  background-color: #ECECEC;
  overflow-y: scroll;
}

.form .closebtn /* close button */
{
  position: absolute;
  top: 17.5px;
  right: 15px; /* top right corner */
  font-size: 36px;
  margin-left: 65px;
  margin-right: 5%;
  text-decoration: none;
  background-color: transparent;
}


#push /* shifts scrren over when opening nav up */
{
  /* transition: margin-left .6s; */
}

#caption
{
	text-align: center;
	font-size: 1.25em;
	text-decoration: underline;
	text-decoration-color: var(--red);
}

form
{
	margin-left: 5%;
	margin-right: 5%;
	background-color: white;
}

form > ::-webkit-input-placeholder 
{ 
  	font-family: "Ubuntu";
  	font-size: .8em;
}

#border
{
	border: 1px solid black;
	border-radius: 15px;
	background-color: white;
	margin-top: 2%;
	margin-left: 5%;
	margin-right: 5%;
}

#submit_div > input[type = "button"]
{
	margin-top: 0%;
	background-color: var(--red);
	border-radius: 10px;
	width: 90%;
	height: 50px;
	color: white;
	font-size: 1.1em;
	font-family: "Ubuntu";
	border: none;
	z-index: 99;
}

input[type = "button"]
{
	-webkit-appearance: none;
	-moz-appearance: none;
    appearance: none;
}

#submit_div
{
	text-align: center;
}	

form > input[type = "text"]
{
	border: none;
	border-bottom: 3px solid black;
	width: 90%;
	height: 22.5px;
	font-size: .9em;
}

form > p
{
	font-weight: bold;
	margin-top: 2%;
	margin-bottom: 2%;
	font-size: .8em;
}

.form_info
{
	font-size: .5em;
	margin-right: 10%;
	font-color: lightgrey;
	font-weight: 400;
	margin-top: 2.5%;
}

.weekdays_selector
{
	text-align: center;
}

.weekdays_selector input 
{
  display: none!important;

}

.weekdays_selector input[type=checkbox] + label 
{
  display: inline-block;
  border-radius: 70%;
  background: #dddddd;
  height: 35px;
  line-height: 35px;
  width: 12.5%;
  cursor: pointer;
  font-size: .7em;
}

#form_info_margin
{
	margin-left: 2.5%;
	margin-top: 0%;
	margin-bottom: -1%;
}

.weekdays_selector input[type=checkbox]:checked + label 
{
  background: var(--red);
  color: #ffffff;
}

#recitation_div
{
	margin-top: -3%;
	display: inline-flex;
}

#recitation_check
{
	margin-top: 13.5%;
	position: relative;
	left: 6px;
}

#recitation_paragraph
{
	font-size: .8em;
	position: relative;
	bottom: 5px;

}

.time-selector
{
	text-align: center;
	display: inline-flex;
	margin-bottom: -7.5%;
}

input[type= "time"]
{
	width: 100px;
	margin-right: 6%;
	height: 22.5px;
}

input[type= "time"]:first-child
{
	margin-left: 2.5%; 
}

#time_paragraph
{
	margin-right: 6%;
	position: relative;
	bottom: 13px;
}

#submission_error
{
	font-size: .75em;
	color: var(--red);
}

/* sidenav menu for if i want to implement */

.sidenav 
{
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: white; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a 
{
  text-align: center;
  text-decoration: underline;
  color: var(--red);
  font-size: 1.3em;
  display: block;
  transition: 0.3s;
  font-family: "lato";
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover 
{
  text-decoration: none;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn 
{
  position: absolute;
  text-decoration: none;
  top: 10px;
  right: 0;
  font-size: 2em;
  margin-left: 50px;
}
