
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&display=swap');

/* fonts */

body, html
{
	font-family: "Alegreya SC";
}

::-webkit-input-placeholder 
{ 
  	font-family: "Alegreya SC";
}

#intro
{
	font-family: "Lato";
}

#intro_text
{
	margin-top: 2%;
	text-align: center;
}

:root
{
	--red: rgb(255,49,8,.95);
}

/* header */

header
{
	background-color: #FAFAFA;
	margin-left: -2.5%;
	margin-top: -2%;
	position: fixed;
  	top: .7%;
 	width: 100%;
 	z-index: 9999;

 	/* shadow */
 	box-shadow: 4px 4px 2px #ccc;
    -moz-box-shadow: 4px 4px 2px #ccc;
    -webkit-box-shadow: 4px 4px 2px #ccc;
}

#menuButton 
{
	width: 26px;
	position: relative;
	top: 32px;
	left: 12.5px;
	margin-top: -5%;
}

small 
{
	display: inline;
	clear: both;
	font-size: .1em;
}

#titleText
{
	display: block;
	color: var(--red);
	font-size: 1.5em;
	text-align: center;
	margin-top: 0%;
	text-indent: 5%; /* centers exactly */
	font-family: "Ubuntu";
}

/* body */

table
{
	margin-top: 3%;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.normal_link a
{
	text-decoration: underline;
}

.normal_link a:hover, .normal_link a:active
{
	color: black;
}

a
{
	color: inherit;
	background-color: inherit;
	text-decoration: none;
}

a:hover, a:active
{
	color: var(--red);
}

.courseBackground:first-child
{
	margin-top: 2%;
}

.courseBackground
{
	margin-bottom: 0%;
	border: 2px solid black;
	border-radius: 10px;
	font-size: 1.05em;
	padding-top: 1%;
	padding-bottom: 1%;
}

.heading
{
	font-size: 1em; 
	margin-left: 2.5%;
	text-transform: capitalize;
}

.heading2
{
	margin-left: 2.5%;
	font-size: .9em;
}

.w
{
	text-transform: lowercase;
}

.info, .info2
{
	margin-left: 2.5%;
	font-size: .8em;
}

.info2
{
	font-size: .8em;
	margin-left: 2.5%;
}

.time
{
	font-size: 1.2em;
}

#search_and_plus
{
	display: flex;
	justify-content: flex-start;
}

#plusButton
{
	width: 25px;
	position: relative;
	top: 1.5px;
}

#search_bar
{
	margin-left: 2%;
	width: 90%;
	height: 30px;
}

.group_title
{
	font-size: .85em;
	text-decoration: underline;
	font-family: "Ubuntu";
	margin-left: 1%;
	font-weight: bold;
}

/* form sidenav */

.sidenav /* general menu */
{
  font-family: "Ubuntu";
  height: 100%; 
  width: 0; 
  position: fixed;
  z-index: 1; 
  top: 0; 
  left: 0;
  overflow-x: hidden; 
  transition: 0.6s; 
  margin-top: 65px; /* right below header */
  background-color: #ECECEC;
  overflow-y: scroll;
}

.sidenav .closebtn /* close button */
{
  position: absolute;
  top: 17.5px;
  right: 10px; /* top right corner */
  font-size: 36px;
  margin-left: 65px;
  margin-right: 5%;
  text-decoration: none;
  background-color: transparent;
}

#push /* shifts scrren over when opening nav up */
{
  transition: margin-left .6s;
}

#caption
{
	text-align: center;
	font-size: 1.25em;
	text-decoration: underline;
	text-decoration-color: var(--red);
	margin-bottom: 5%;
}

form
{
	margin-left: 5%;
	margin-right: 5%;
	background-color: white;
}

form > ::-webkit-input-placeholder 
{ 
  	font-family: "Ubuntu";
  	font-size: .9em;
}

#border
{
	border: 1px solid black;
	border-radius: 15px;
	background-color: white;
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
}

#submit_div > input[type = submit]
{
	margin-top: 3%;
	margin-bottom: 7.5%;
	background-color: var(--red);
	border-radius: 10px;
	width: 90%;
	height: 50px;
	color: white;
	font-size: 1.1em;
	font-family: "Ubuntu";
	border: none;
	z-index: 99;
	--webkit-appearance: none;
}

#submit_div
{
	text-align: center;
}	

form > input[type = "text"]
{
	border: none;
	border-bottom: 3px solid black;
	width: 90%;
}

form > p
{
	font-weight: bold;
	margin-top: 4%;
	margin-bottom: 4%;
	font-size: .9em;
}

.form_info
{
	font-size: .5em;
	margin-right: 10%;
	font-color: lightgrey;
	font-weight: 400;
}

.weekDays-selector
{
	text-align: center;
}

.weekDays-selector input 
{
  display: none!important;

}

.weekDays-selector input[type=checkbox] + label 
{
  display: inline-block;
  border-radius: 50%;
  background: #dddddd;
  height: 40px;
  line-height: 40px;
  width: 12.5%;
  cursor: pointer;
  font-size: .7em;
}

.weekDays-selector input[type=checkbox]:checked + label 
{
  background: var(--red);
  color: #ffffff;
}

#recitation_div
{
	margin-top: -2%;
	display: inline-flex;
}

#recitation_check
{
	margin-top: 17%;
	position: relative;
	left: 7.5px;
}

#recitation_paragraph
{
	font-size: .9em;
}

.time-selector
{
	text-align: center;
	display: inline-flex;
	margin-bottom: -5%;
}

input[type= "time"]
{
	width: 100px;
	margin-right: 7.5%;
	height: 25px;
}

input[type= "time"]:first-child
{
	margin-left: 5%;
}

#time_paragraph
{
	margin-right: 7.5%;
	position: relative;
	bottom: 12.5px;
}


