@import 'index.css';

#title
{
	font-size: 2em;
	margin-top: 2%;
	margin-left: 5%;
	text-align: center;
}

#title_hr
{
	width: 90%;
	margin-left: 5%;
}

.post
{
	font-family: "Alegreya Sans SC";
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
}

.post_header
{
	font-size: .9em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: -2%;
}

.post_date
{
	font-size: .9em;
}

.post_content
{
	font-family: "Ubuntu";
	margin-bottom: 7.5%;
}

hr
{
	width: 100%;
	margin-left: -2%;
	margin-right: -2%;
	border: solid #D3D3D3 1px;
}