@import 'index.css';

#contact
{
	color: var(--red);
}

h3
{
	margin-top: 10vw;
	text-align: center;
	font-size: 8vw;
	margin-left: 5%;
	margin-right: 5%;
	line-height: 10vw;
	font-weight: 400;
	border: .5vw solid black;
	border-radius: 10vw;
	padding: 10vw;
}

#email_link
{
	line-height: 15vw;
	font-weight: 700;
	color: var(--red);
}