@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,700&display=swap');

:root
{
	--red: rgb(255,49,8,.95);
}

body, html
{
	font-family: "Alegreya Sans SC";
	line-height: 5vw;
	text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

/* HEADER */ 

header
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

h1
{
	font-family: Ubuntu;
	font-size: 10vw;
	margin-right: 4.5vw;
}

#logo
{
	text-decoration: none;
	color: var(--red);
}

#version
{
	font-size: 2vw;
	margin-left: -1.75vw;
}

.header_button
{
	background: none!important;
	border: none;
	padding: 0!important;
	font-family: "Alegreya Sans SC";
	color: #D3D3D3;
	font-size: 4.2vw;
	margin-top: 2vw;
	position: relative;
	bottom: .75vw;
}

.header_link
{
	margin-top: 7.2vw;
}

#contact
{
	margin-right: 1.5vw;
}

/* MAIN */

h2
{
	text-align: center;
	font-family: "Ubuntu";
	font-weight: 700;
	margin-top: 0%;
	margin-left: 10%;
	margin-right: 10%;
	font-size: 6.25vw;
	line-height: 7.8vw;
}

nav
{
	margin-top: 6.5vw;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 3vw;
	row-gap: 7vw;
}

.college_button
{
	background-color: blue;
	color: white;
	font-family: "Ubuntu";
	font-size: 4vw;
	height: 30vw;
	width: 30vw;
	border-radius: 5vw;
	box-shadow: none;
	border: none;
}

/* COLLEGES */

#NYU 
{
	background-color: #330662;
}

#Georgetown 
{
	background-color: #00183F;
}

#PSU
{
	background-color: #1E407C;
}

#Pitt
{
	background-color: #FFB81C;
}

#More p
{
	color: black;
}

#More
{
	background-color: #F0F0F0;
	border: 0.75px dotted lightgrey;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 650px) 
{
	body, html
	{
		line-height: 0vw;
	}

	h1
	{
		font-size: 7.5vw;
		margin-right: 20vw;
	}

	#version
	{
		font-size: 1.5vw;
		margin-left: -1.31vw;
	}

	.header_button
	{
		font-size: 3.15vw;
	}

	h2
	{
		font-size: 4.7vw;
		line-height: 5.8vw;
		margin-left: 20%;
		margin-right: 20%;
	}

	nav
	{
		margin-top: 4.875vw;
		row-gap: 4vw;
	}

	.college_button
	{
		font-size: 3vw;
		height: 28vw;
		width: 30vw;
		border-radius: 3.75vw;
	}
}

@media only screen and (min-width: 800px) 
{

	h1
	{
		font-size: 6.5vw;
		margin-right: 30vw;
	}

	header
	{
		justify-content: space-around;
	}

	#version
	{
		font-size: 1.125vw;
		margin-left: -.98vw;
	}

	.header_button
	{
		font-size: 2.5vw;
	}

	h2
	{
		font-size: 3vw;
		line-height: 4.35vw;
		margin-left: 20%;
		margin-right: 20%;
	}

	nav
	{
		margin-top: 3.65vw;
		grid-template-columns: repeat(4, 1fr);

	}

	.college_button
	{
		font-size: 2.25vw;
		height: 20vw;
		width: 21vw;
		border-radius: 2.8vw;
		margin-left: 5%;
	}
}

@media only screen and (min-width: 1100px) 
{
	.college_button
	{
		height: 18vw;
		width: 21vw;
	}

	h1
	{
		margin-right: 30vw;
	}
}


@media only screen and (min-width: 1200px) 
{
	.college_button
	{
		height: 17vw;
	}
}

@media only screen and (min-width: 1300px) 
{
	.college_button
	{
		height: 16vw;
	}
}

@media only screen and (min-width: 1400px) 
{
	.college_button
	{
		height: 15vw;
	}
}

@media only screen and (min-width: 1400px) 
{
	.college_button
	{
		height: 14vw;
	}
}

@media only screen and (min-width: 1500px) 
{
	.college_button
	{
		height: 13vw;
	}
}

@media only screen and (min-width: 1600px) 
{
	.college_button
	{
		height: 12vw;
	}
}
